
html {
    background-color: white;
    color: black;
}

body {
    font-family: sans-serif;
    font-size: 1.25em;
}



ul {
    list-style-type: square;
}


.main.container {
    margin-top: 5em;
}


